.dott {
	width: 575px;
	height: 575px;
	flex-shrink: 0;
	border-radius: 575px;
	border: 60px solid var(--blu, #00c4f0);
	box-shadow: 0px 0px 152px 0px rgba(0, 225, 255, 0.72);
}
#hero {
	background: url(../../img/greenPhoto.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media (max-width: 1317px) {
	.grid {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.heroMT {
		padding-top: 11px;
	}
	.heroP {
		text-align: center;
	}
	.heroAdap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 40px;
	}
	.heroTwo h1 {
		text-align: center;
	}
	.heroTwo {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 0 auto;
		margin-bottom: 50px;
	}
}
@media (max-width: 1024px) {
	.dott {
		width: 490px;
		height: 500px;
		border: 55px solid var(--blu, #00c4f0);
	}
	.heroImg {
		height: 384px;
		margin-top: 0px;
	}
	.heroPs {
		top: 341px;
	}
}
@media (max-width: 500px) {
	.dott {
		width: 320px;
		height: 320px;
		border: 50px solid var(--blu, #00c4f0);
	}
	.heroImg {
		height: 200px;
	}
	.heroTOP {
		top: -60px;
		width: 4rem;
	}
	.heroPs {
		width: 60px;
		top: 207px;
	}
	.heroUX {
		top: 92px;
		width: 60px;
	}
}
