.back {
	backdrop-filter: blur(10px);
	background: #2122225d;
}
body {
	background: rgb(103, 103, 103);
	background: linear-gradient(
		90deg,
		rgba(103, 103, 103, 1) 0%,
		rgba(75, 77, 78, 1) 46%,
		rgba(120, 114, 114, 1) 100%
	);
}

.back {
	animation: slideDown 1s ease-out;
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
